<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h3 class="text-center my-5">Update Question</h3>
      <form [formGroup]="updateQuestion">
        <div class="form-group">
          <label>Title</label>
          <input type="text" [class.is-invalid]="title.invalid && title.touched"  class="form-control" formControlName="title">
          <small class="text-danger" [class.d-none]="title.valid || title.untouched">This field is required</small>
        </div>
        <div class="form-group">
          <label>Question</label>
          <textarea [class.is-invalid]="question.invalid && question.touched" class="form-control" rows="6" formControlName="question"></textarea>
          <small [class.d-none]="question.valid || question.untouched" class="text-danger">This field is required</small>
        </div>
        <button [disabled]="updateQuestion.invalid" class="btn btn-primary float-right">Submit</button>
      </form>
    </div>
  </div>
  </div>