<div class="container mt-5">
  <div *ngIf="questions">
    <p>{{ questions.current_page }}</p>
  </div>
 <div *ngFor="let question of questions.data">
    <div class="card my-2">
      <div class="card-body">
        <a routerLink="/question/{{ question.id }}" class="card-link">
          <h5 class="card-title">{{ question.title }}</h5>
        </a>
        <a routerLink="#" class="card-link">
          <i *ngIf="isLiked" class="fas fa-thumbs-up"></i>
          <i *ngIf="!isLiked" class="far fa-thumbs-up"></i>
          <span class="badge">{{ question.likes }}</span>
          Likes</a>
        <a routerLink="#" class="card-link">
          <i *ngIf="!isLiked" class="far fa-thumbs-down"></i>
          <i *ngIf="isLiked" class="fas fa-thumbs-down"></i>
           Dislike</a>
      </div>
    </div>

  </div>
  <app-pagination [questionRes]="questions"></app-pagination>
</div>

  
  
